.container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 20px;
	width: 100%;
	overflow-x: hidden;
	background-color: rgb(255, 255, 255);
	color: rgb(21, 17, 32);
}

.title {
	font-size: 2.5rem;
	font-weight: 900;
	text-align: center;
	color: rgb(255, 0, 0); 
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
	animation: fadeIn 1s ease-in-out;
	padding-bottom: 10px; 
	border-bottom: none; 
	letter-spacing: 1px; 
}

.description {
	font-size: 1.2rem;
	text-align: justify;
	margin: 0 auto;
	max-width: 800px;
	color: rgb(21, 17, 32); /* Ensure consistent text color */
	animation: fadeIn 1.5s ease-in-out;
}

.cardContainer {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	animation: fadeIn 2s ease-in-out;
}

/* Fade-in animation */
@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
